In [1]:
import sys

In [2]:
!{sys.executable} -m pip install mlxtend

Requirement already satisfied: mlxtend in d:\anaconda\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [17]:
import pandas as pd
import math
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

#read order_data.csv and create a DataFrame with that content
data = pd.read_csv(r"order_data.csv",delimiter=" ",header=None)
#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()

#removing nan values
for i in range(len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break

str

In [23]:
te = TransactionEncoder()
te_ary = te.fit(d).transform(d)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,bread,brush,butter,cerals,cereals,cheese,cheesse,chips,cookies,gel,honey,milk,mouthwash,razor,shampoo,soap,toothpaste,yogurt
0,True,True,True,False,True,True,False,False,False,False,True,True,False,False,False,False,True,True
1,True,False,False,False,True,True,False,False,False,True,True,True,False,True,True,False,False,False
2,False,False,False,False,True,True,False,False,False,False,True,True,False,False,True,True,False,False
3,True,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False,True,False
4,True,False,True,False,True,False,False,False,False,True,True,False,False,False,False,True,False,False
5,False,False,False,False,True,False,True,False,False,True,True,True,False,False,True,False,False,True
6,True,False,True,False,False,True,False,False,False,False,True,False,False,True,False,False,False,True
7,True,False,True,False,False,True,False,False,False,False,True,True,False,False,False,False,False,False
8,False,False,True,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False
9,False,False,False,True,False,True,False,True,True,False,False,False,False,False,False,False,False,True
10,False,True,False,False,False,False,False,True,True,True,False,False,False,False,True,True,True,False
11,False,True,False,False,False,False,False,False,True,True,False,True,True,True,False,False,True,False
12,True,False,True,False,False,False,False,False,False,True,False,False,False,True,True,True,False,False
13,True,True,False,False,False,True,False,False,False,True,False,False,True,False,True,False,True,False
14,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,True,True,True
15,True,False,True,False,False,True,False,False,False,False,False,False,True,True,False,True,False,False
16,False,False,False,False,True,False,False,False,False,True,True,True,False,False,True,True,False,False
17,False,True,False,False,False,False,False,False,False,True,False,False,True,True,True,False,True,False
18,True,False,False,False,True,False,False,False,True,True,False,True,False,True,True,False,False,False
19,True,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,True,False

In [24]:
#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

    support                         itemsets
0      0.55                          (bread)
1      0.25                          (brush)
2      0.40                         (butter)
3      0.40                        (cereals)
4      0.50                         (cheese)
..      ...                              ...
66     0.20            (gel, razor, shampoo)
67     0.20           (shampoo, milk, honey)
68     0.20   (butter, bread, cheese, honey)
69     0.20    (gel, milk, cereals, shampoo)
70     0.20  (shampoo, milk, cereals, honey)

[71 rows x 2 columns]

In [26]:
from mlxtend.frequent_patterns import association_rules
a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

                  antecedents      consequents  support  confidence
0                     (brush)     (toothpaste)     0.25         1.0
1            (butter, cheese)          (bread)     0.25         1.0
2             (butter, honey)          (bread)     0.25         1.0
3            (bread, shampoo)            (gel)     0.20         1.0
4           (gel, toothpaste)          (brush)     0.20         1.0
5                (gel, brush)     (toothpaste)     0.20         1.0
6                (gel, honey)        (cereals)     0.20         1.0
7            (honey, shampoo)        (cereals)     0.20         1.0
8             (milk, shampoo)        (cereals)     0.25         1.0
9          (cereals, shampoo)           (milk)     0.25         1.0
10             (milk, cheese)          (honey)     0.20         1.0
11           (razor, shampoo)            (gel)     0.20         1.0
12           (honey, shampoo)           (milk)     0.20         1.0
13    (butter, cheese, honey)          (bread)     0.20         1.0
14       (gel, milk, cereals)        (shampoo)     0.20         1.0
15       (gel, milk, shampoo)        (cereals)     0.20         1.0
16    (gel, cereals, shampoo)           (milk)     0.20         1.0
17     (honey, milk, shampoo)        (cereals)     0.20         1.0
18  (honey, cereals, shampoo)           (milk)     0.20         1.0
19           (honey, shampoo)  (milk, cereals)     0.20         1.0

In [27]:
import math
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules


data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0)

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()

In [28]:
#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break
#adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])
te = TransactionEncoder()
te_ary = te.fit(d).transform(d)

df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Age=18,Age=19,Age=20,Age=21,Age=22,Age=23,Age=24,Age=25,Age=26,Age=27,...,Margin=4,Margin=5,Margin=?,Severity=0,Severity=1,Shape=1,Shape=2,Shape=3,Shape=4,Shape=?
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
957,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
958,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,True,False
959,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False

In [29]:
#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

     support                                      itemsets
0   0.569199                                   (BI-RADS=4)
1   0.360042                                   (BI-RADS=5)
2   0.830385                                   (Density=3)
3   0.371488                                    (Margin=1)
4   0.291363                                    (Margin=4)
5   0.536941                                  (Severity=0)
6   0.463059                                  (Severity=1)
7   0.233091                                     (Shape=1)
8   0.219563                                     (Shape=2)
9   0.416233                                     (Shape=4)
10  0.463059                        (BI-RADS=4, Density=3)
11  0.328824                         (Margin=1, BI-RADS=4)
12  0.444329                       (BI-RADS=4, Severity=0)
13  0.318418                        (BI-RADS=5, Density=3)
14  0.318418                       (Severity=1, BI-RADS=5)
15  0.271592                          (Shape=4, BI-RADS=5)
16  0.292404                         (Margin=1, Density=3)
17  0.250780                         (Margin=4, Density=3)
18  0.421436                       (Severity=0, Density=3)
19  0.408949                       (Severity=1, Density=3)
20  0.374610                          (Shape=4, Density=3)
21  0.328824                        (Margin=1, Severity=0)
22  0.327784                         (Severity=1, Shape=4)
23  0.263267              (Margin=1, BI-RADS=4, Density=3)
24  0.354839            (BI-RADS=4, Severity=0, Density=3)
25  0.299688             (Margin=1, BI-RADS=4, Severity=0)
26  0.286160            (Severity=1, BI-RADS=5, Density=3)
27  0.245578               (Shape=4, BI-RADS=5, Density=3)
28  0.246618              (Severity=1, Shape=4, BI-RADS=5)
29  0.257024             (Margin=1, Severity=0, Density=3)
30  0.295525              (Severity=1, Shape=4, Density=3)
31  0.238293  (Margin=1, BI-RADS=4, Severity=0, Density=3)
32  0.224766   (Severity=1, Shape=4, BI-RADS=5, Density=3)

In [30]:
from mlxtend.frequent_patterns import association_rules
a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

                          antecedents   consequents   support  confidence
0                           (Shape=4)   (Density=3)  0.374610    0.900000
1               (Margin=1, Density=3)   (BI-RADS=4)  0.263267    0.900356
2               (Margin=1, BI-RADS=4)  (Severity=0)  0.299688    0.911392
3              (Margin=1, Severity=0)   (BI-RADS=4)  0.299688    0.911392
4                (Shape=4, BI-RADS=5)   (Density=3)  0.245578    0.904215
5                (Shape=4, BI-RADS=5)  (Severity=1)  0.246618    0.908046
6               (Severity=1, Shape=4)   (Density=3)  0.295525    0.901587
7    (Margin=1, BI-RADS=4, Density=3)  (Severity=0)  0.238293    0.905138
8   (Margin=1, Severity=0, Density=3)   (BI-RADS=4)  0.238293    0.927126
9    (Severity=1, Shape=4, BI-RADS=5)   (Density=3)  0.224766    0.911392
10    (Shape=4, BI-RADS=5, Density=3)  (Severity=1)  0.224766    0.915254

In [59]:
data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0,usecols=['Age','Shape','Margin','Density','Severity'])

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()
#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break
#adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])
te = TransactionEncoder()
te_ary = te.fit(d).transform(d)

df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Age=18,Age=19,Age=20,Age=21,Age=22,Age=23,Age=24,Age=25,Age=26,Age=27,...,Margin=4,Margin=5,Margin=?,Severity=0,Severity=1,Shape=1,Shape=2,Shape=3,Shape=4,Shape=?
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
957,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
958,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,True,False
959,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False

In [60]:
#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                    itemsets
0   0.830385                                 (Density=3)
1   0.371488                                  (Margin=1)
2   0.120708                                  (Margin=3)
3   0.291363                                  (Margin=4)
4   0.141519                                  (Margin=5)
5   0.536941                                (Severity=0)
6   0.463059                                (Severity=1)
7   0.233091                                   (Shape=1)
8   0.219563                                   (Shape=2)
9   0.416233                                   (Shape=4)
10  0.292404                       (Margin=1, Density=3)
11  0.106139                       (Margin=3, Density=3)
12  0.250780                       (Margin=4, Density=3)
13  0.131113                       (Margin=5, Density=3)
14  0.421436                     (Severity=0, Density=3)
15  0.408949                     (Severity=1, Density=3)
16  0.190427                        (Shape=1, Density=3)
17  0.166493                        (Shape=2, Density=3)
18  0.374610                        (Shape=4, Density=3)
19  0.328824                      (Margin=1, Severity=0)
20  0.191467                         (Shape=1, Margin=1)
21  0.150884                         (Margin=1, Shape=2)
22  0.198751                      (Severity=1, Margin=4)
23  0.199792                         (Shape=4, Margin=4)
24  0.118626                      (Margin=5, Severity=1)
25  0.117586                         (Margin=5, Shape=4)
26  0.193548                       (Shape=1, Severity=0)
27  0.183143                       (Severity=0, Shape=2)
28  0.327784                       (Severity=1, Shape=4)
29  0.257024           (Margin=1, Severity=0, Density=3)
30  0.159209              (Shape=1, Margin=1, Density=3)
31  0.111342              (Margin=1, Shape=2, Density=3)
32  0.173777           (Severity=1, Margin=4, Density=3)
33  0.175858              (Shape=4, Margin=4, Density=3)
34  0.110302           (Margin=5, Severity=1, Density=3)
35  0.112383              (Margin=5, Shape=4, Density=3)
36  0.158169            (Shape=1, Severity=0, Density=3)
37  0.133195            (Severity=0, Shape=2, Density=3)
38  0.295525            (Severity=1, Shape=4, Density=3)
39  0.169615             (Shape=1, Margin=1, Severity=0)
40  0.136316             (Margin=1, Severity=0, Shape=2)
41  0.155047             (Shape=4, Severity=1, Margin=4)
42  0.143600  (Shape=1, Margin=1, Severity=0, Density=3)
43  0.135276  (Shape=4, Severity=1, Margin=4, Density=3)

In [61]:
from mlxtend.frequent_patterns import association_rules
a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

                        antecedents   consequents   support  confidence
0                        (Margin=5)   (Density=3)  0.131113    0.926471
1                         (Shape=4)   (Density=3)  0.374610    0.900000
2            (Margin=5, Severity=1)   (Density=3)  0.110302    0.929825
3               (Margin=5, Shape=4)   (Density=3)  0.112383    0.955752
4             (Severity=1, Shape=4)   (Density=3)  0.295525    0.901587
5               (Margin=1, Shape=2)  (Severity=0)  0.136316    0.903448
6    (Shape=1, Margin=1, Density=3)  (Severity=0)  0.143600    0.901961
7  (Shape=1, Severity=0, Density=3)    (Margin=1)  0.143600    0.907895

In [66]:
for i in range(len(a)):
    if ("Severity=1" in a["consequents"][i] or "Severity=0" in a["consequents"][i] ):
        print (a["antecedents"][i],a["consequents"][i] )

frozenset({'Margin=1', 'Shape=2'}) frozenset({'Severity=0'})
frozenset({'Shape=1', 'Margin=1', 'Density=3'}) frozenset({'Severity=0'})

In [78]:
data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0,usecols=['Age','Severity'])

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()
#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break
#adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])
te = TransactionEncoder()
te_ary = te.fit(d).transform(d)

df = pd.DataFrame(te_ary, columns=te.columns_)
#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.01)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

     antecedents   consequents   support  confidence
0       (Age=35)  (Severity=0)  0.012487    0.923077
1   (Severity=0)      (Age=35)  0.012487    0.023256
2   (Severity=0)      (Age=40)  0.012487    0.023256
3       (Age=40)  (Severity=0)  0.012487    0.631579
4       (Age=41)  (Severity=0)  0.012487    0.750000
..           ...           ...       ...         ...
81      (Age=74)  (Severity=1)  0.011446    0.916667
82      (Age=76)  (Severity=1)  0.011446    0.647059
83  (Severity=1)      (Age=76)  0.011446    0.024719
84      (Age=80)  (Severity=1)  0.011446    1.000000
85  (Severity=1)      (Age=80)  0.011446    0.024719

[86 rows x 4 columns]

In [81]:
for i in range(len(a)):
    if ("Age=35" in a["antecedents"][i] and "Severity=0" in a["consequents"][i] ):
        print (a["antecedents"][i],a["consequents"][i],a["support"][i],a["confidence"][i] )

frozenset({'Age=35'}) frozenset({'Severity=0'}) 0.012486992715920915 0.923076923076923

In [211]:
data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0)

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()
#removing ? values
i=0
while(True):
    if (d[i][1]=='?') :
        del d[i]
        i-=1
    i+=1
    if (i>len(d)-1):
        break
        
#adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        if j == 1 and int(d[i][j])<40:
            d[i][j] = 'Young'
        elif j == 1 and int(d[i][j])>=40:
            d[i][j] = 'Old'
        d[i][j]=data.columns[j] + "=" +str(d[i][j])
        
te = TransactionEncoder()
te_ary = te.fit(d).transform(d)

df = pd.DataFrame(te_ary, columns=te.columns_)
#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)

a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

,antecedents,consequents,support,confidence
0,(BI-RADS=5),(Age=Old),0.345188,0.964912
1,(Margin=4),(Age=Old),0.276151,0.949640
2,(Margin=5),(Age=Old),0.139121,0.985185
3,(Severity=1),(Age=Old),0.445607,0.968182
4,(Shape=4),(Age=Old),0.394351,0.952020
...,...,...,...,...
90,"(Margin=4, Age=Old, Shape=4, BI-RADS=5)",(Severity=1),0.103556,0.916667
91,"(Margin=4, Severity=1, Shape=4, Density=3)",(Age=Old),0.129707,0.968750
92,"(Shape=1, Margin=1, Severity=0, Density=3)",(BI-RADS=4),0.133891,0.927536
93,"(Shape=1, Margin=1, BI-RADS=4, Density=3)",(Severity=0),0.133891,0.920863
94,"(Shape=1, BI-RADS=4, Severity=0, Density=3)",(Margin=1),0.133891,0.914286

In [212]:
for i in range(len(a)):
    if ("Age=Old" in a["antecedents"][i] and "Severity=1" in a["consequents"][i] ):
        print (a["antecedents"][i],a["consequents"][i],a["support"][i],a["confidence"][i] )

frozenset({'Age=Old', 'Shape=4', 'BI-RADS=5'}) frozenset({'Severity=1'}) 0.23744769874476987 0.908
frozenset({'Age=Old', 'Margin=4', 'BI-RADS=5', 'Density=3'}) frozenset({'Severity=1'}) 0.11610878661087866 0.9098360655737705
frozenset({'Age=Old', 'Shape=4', 'BI-RADS=5', 'Density=3'}) frozenset({'Severity=1'}) 0.2196652719665272 0.9170305676855894
frozenset({'Margin=4', 'Age=Old', 'Shape=4', 'BI-RADS=5'}) frozenset({'Severity=1'}) 0.10355648535564854 0.9166666666666667